<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/consoles">Consoles</a></li>
    </ul>
  </nav>
</body>
</html>