<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Home Index Page</h1>

  <nav>
    <a href="/brands">Brands Page</a>
    <a href="/consoles">Consoles Page</a>
  </nav>

</body>
</html>