<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Brands Index Page</h1>

  <ul>
    <% for(let i = 0; i < brands.length; i++){ %>
    <a href="/brands/<%=brands[i].id%>">
      <li><%= brands[i].name%></li>
    </a>
  <% }%>
  </ul>

  <section>
     <form action="/brands/new">
      <button>Create</button>    
    </form>
  </section>

</body>
</html>